package ${implPackageName};

import ${entityClass.name};
import ${implSuperclass.name};
import ${interfacePackageName}.${interfaceName};

/**
 * @since ${projectVersion}
 */
public class ${implClassName} extends ${implSuperclass.simpleName}<${entityClass.simpleName},${idType.simpleName}> implements ${interfaceName}
{
    public ${implClassName}()
    {
      super(${entityClass.simpleName}.class);
    }
}