package ${interfacePackageName};

import ${entityClass.name};
#if(!$idType.name.startsWith("java.lang"))
import ${idType.name};
#end
import org.domdrides.repository.Repository;

/**
 * @since ${projectVersion}
 */
public interface ${interfaceName} extends Repository<${entityClass.simpleName},${idType.simpleName}> 
{

}